#stats {
    width: 90%;
    font-size: -0.2rem;
    gap: 0.2rem;
    margin-top: 26px;
    margin-left: 6px;
}
.stat-row {
    display: flex;
}

.stat-desc, .stat-number {
    width: 13%;
}

.stat-desc {
    color: rgb(116, 203, 72);
    font-weight: bold;
    text-align: right;
    margin-right: 0.1rem;
    transition: color 0.5s ease-in-out;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.stat-number {
    border-left: 1px solid #000000e6;
    text-align: right;
    font-size: 0.9rem;
}

.stat-bar {
    width: 76%;
    display: flex;
    align-items: center;
    padding-left: 0.6rem;
}

.bar-outer {
    background-color: rgba(116, 203, 72, 0.3);
    display: flex;
    width: 100%;
    height: 0.3rem;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.bar-inner {
    background-color: rgb(116, 203, 72);
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

#base-stats {
    transition: color 0.5s ease-in-out;
}
.stats-n{
    display: flex;
    flex-direction: column;
}